
  .topnav {
    align-items: center;
    background-color: rgb(137, 156, 238);
    border-bottom: solid #71eea5;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    min-width: 1600px;
    position: sticky;
    top: 0;
    z-index: 100;
}
